MODULE 5 EXERCISE

1. Declare an empty list

In [106]:
myClass = []

2.Declare a list with more than 5 items

In [107]:
myLanguages=['French', 'Arabic', 'Hausa', 'Fulbe', 'Igbo', 'Yoruba', 'Nupe']

3.Find the length of your list

In [108]:
print(len(myLanguages))

7

4.Get the first item, the middle item and the last item of the list

In [109]:
print(myLanguages[0])
print(myLanguages[3])
print(myLanguages[-1])

French
Fulbe
Nupe

5.Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [110]:
mixed_data_types = ['name', 'age', 'height', 'marital' ,'status', 'address']

6.Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [111]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle' ,'Amazon']
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

7. Print the list using print()

In [112]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

8.Print the number of companies in the list

In [113]:
print(len(it_companies))

7

9. Print the first, middle and last company

In [114]:
print(it_companies[0])
print(it_companies[3])
print(it_companies[-1])

Facebook
Apple
Amazon

10.Print the list after modifying one of the companies

In [115]:
it_companies[0] = 'meta'
print(it_companies)

['meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

11.Add an IT company to it_companies

In [116]:
it_companies=['meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.append("Nvidia")
print(it_companies)

['meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Nvidia']

12. Insert an IT company in the middle of the companies list

In [117]:
it_companies.insert(3, "Galaxy")
print(it_companies)

['meta', 'Google', 'Microsoft', 'Galaxy', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Nvidia']

13.Change one of the it_companies names to uppercase (IBM excluded!)

In [118]:
it_companies= ['meta', 'Google', 'Microsoft', 'Galaxy', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Nvidia']
print(it_companies[0].upper())

META

14.Join the it_companies with a string '#;  '

In [119]:
it_companies='#'.join(it_companies)
print(it_companies)

meta#Google#Microsoft#Galaxy#Apple#IBM#Oracle#Amazon#Nvidia

15.Check if a certain company exists in the it_companies list.

In [120]:
print("Nvidia" in it_companies)

True

16.Sort the list using sort() method

In [121]:
it_companies.sort()
print(it_companies)

AttributeError: 'str' object has no attribute 'sort'

17.Reverse the list in descending order using reverse() method

In [ ]:
it_companies=['meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.reverse()
print(it_companies)

['Amazon', 'Oracle', 'IBM', 'Apple', 'Microsoft', 'Google', 'meta']

18.Slice out the first 3 companies from the list

In [ ]:
print(it_companies[0:3])

['meta', 'Google', 'Microsoft']

19.Slice out the last 3 companies from the list

In [ ]:
print(it_companies[-3:])

['IBM', 'Oracle', 'Amazon']

20.Slice out the middle IT company or companies from the list

In [ ]:
print(it_companies[3])

Apple

21.Remove the first IT company from the list

In [ ]:
del it_companies[0]
print(it_companies)

['Google', 'Microsoft', 'Galaxy', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Nvidia']

22.Remove the middle IT company or companies from the list

In [ ]:
del it_companies[3]
print(it_companies)

['Google', 'Microsoft', 'Galaxy', 'IBM', 'Oracle', 'Amazon', 'Nvidia']

23. Remove the last IT company from the list

In [ ]:
it_companies.pop()
print(it_companies)

['Google', 'Microsoft', 'Galaxy', 'IBM', 'Oracle', 'Amazon']

24.Remove all IT companies from the list

In [ ]:
it_companies.clear()
print(it_companies)

[]

25.Destroy the IT companies list

In [ ]:
del it_companies
print(it_companies)

NameError: name 'it_companies' is not defined

26.join the following lists:

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

In [ ]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
full_stack=front_end+back_end
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

LEVEL 2 EXERCISE
1. The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
a)Sort the list and find the min and max age
b)Add the min age and the max age again to the list
c)Find the median age (one middle item or two middle items divided by two)
d)Find the average age (sum of all items divided by their number )
e)Find the range of the ages (max minus min)
f)Compare the value of (min - average) and (max - average), use abs() method

In [ ]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
sorted_ages=sorted(ages)
print(sorted_ages)
def find_min_max(ages):  
    min_age = min(ages)  # Finding the minimum age  
    max_age = max(ages)  # Finding the maximum age  
    return min_age, max_age  

# Calling the function  
minimum_age, maximum_age = find_min_max(ages)  

# Output the results  
print("Minimum Age:", minimum_age)  
print("Maximum Age:", maximum_age)
sorted_ages.append(maximum_age)
sorted_ages.append(minimum_age)
print(sorted_ages)
#the median age 
median_age=20+25/2
print(median_age)
#the average of the list
avg_ages=sum(ages)/10
print(avg_ages)
#range of the ages
print(maximum_age-minimum_age)
#conparing the values of minimum and maximum 
abs_min_average = abs(minimum_age - avg_ages)  
abs_max_average = abs(maximum_age - avg_ages)
print(abs_max_average)
print(abs_min_average)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum Age: 19
Maximum Age: 26
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26, 19]
32.5
22.8
7
3.1999999999999993
3.8000000000000007

Find the middle country(ies) in the countries list
Divide the countries list into two equal lists if it is even if not one more country for the first half.
['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.

In [ ]:
countries = ['Afghanistan','Albania','Algeria','Andorra','Angola','Antigua and Barbuda','Argentina','Armenia','Australia','Austria','Azerbaijan','Bahamas','Bahrain',
'Bangladesh','Barbados','Belarus','Belgium','Belize','Benin','Bhutan','Bolivia','Bosnia and Herzegovina','Botswana','Brazil','Brunei','Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom','United States','Uruguay','Uzbekistan','Vanuatu','Vatican City','Venezuela','Vietnam','Yemen','Zambia','Zimbabwe']

# Calculate the middle index  
middle_index = len(countries) // 2  

# Print the middle element  
middle_element = countries[middle_index]  
print("Middle element:", middle_element)

Middle element: Lesotho

2.Divide the countries list into two equal lists if it is even if not one more country for the first half.

In [ ]:
len(countries)
firstClassCountries=countries[0:98]
secondClassCountries=countries[98:]
print(firstClassCountries)
print(secondClassCountries)

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia']
['Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

3. ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.

In [ ]:
NASA=['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
first_country, second_country, third_country, *scandic_countries = NASA
print(first_country)
print(second_country)

['China', 'Russia', 'USA']
['Finland', 'Sweden', 'Norway', 'Denmark']

TUPLE EXERCISE LEVEL 1
1. Create an empty tuple

In [ ]:
myBad=()
type(myBad)

tuple

2. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)

In [ ]:
sisters=('Habiba', 'Nana','Khadijah', 'Maryam','Yusra')
brothers=('Atiku', 'Dantata', 'Dangote', 'Bua', 'Otedola', 'Jim Ovia')
print(sisters)
print(brothers)

('Habiba', 'Nana', 'Khadijah', 'Maryam', 'Yusra')
('Atiku', 'Dantata', 'Dangote', 'Bua', 'Otedola', 'Jim Ovia')

3. Join brothers and sisters tuples and assign it to siblings

In [ ]:
fine_siblings=sisters + brothers
print(fine_siblings)

('Habiba', 'Nana', 'Khadijah', 'Maryam', 'Yusra', 'Atiku', 'Dantata', 'Dangote', 'Bua', 'Otedola', 'Jim Ovia')

4. How many siblings do you have?

In [ ]:
print(len(fine_siblings))

11

5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members

In [ ]:
fine_siblings=sisters + brothers
print(fine_siblings)
fine_sibling=list(fine_siblings)
fine_sibling.append('Mother')
fine_sibling.append('Father')
family_members=tuple(fine_sibling)
print(family_members)

('Habiba', 'Nana', 'Khadijah', 'Maryam', 'Yusra', 'Atiku', 'Dantata', 'Dangote', 'Bua', 'Otedola', 'Jim Ovia')
('Habiba', 'Nana', 'Khadijah', 'Maryam', 'Yusra', 'Atiku', 'Dantata', 'Dangote', 'Bua', 'Otedola', 'Jim Ovia', 'Mother', 'Father')

TUPLE EXERCISE: LEVEL 2
1. Unpack siblings and parents from family_members

In [ ]:
siblings=family_members[0:11]
parents=family_members[11:]
print(siblings)
print(parents)

('Habiba', 'Nana', 'Khadijah', 'Maryam', 'Yusra', 'Atiku', 'Dantata', 'Dangote', 'Bua', 'Otedola', 'Jim Ovia')
('Mother', 'Father')

2. Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.

In [ ]:
fruits=('mango', 'orange', 'Kankana', 'Apple')
vegetables=('Letus', )
animalProducts=('Meats', 'feather')
food_stuff_tp=fruits+vegetables+animalProducts
print(food_stuff_tp)

('mango', 'orange', 'Kankana', 'Apple', 'Letus', 'Meats', 'feather')

3. Change the about food_stuff_tp tuple to a food_stuff_lt list

In [ ]:
food_stuff_lt=food_stuff_tp
print(food_stuff_lt)

('mango', 'orange', 'Kankana', 'Apple', 'Letus', 'Meats', 'feather')

4. Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.

In [ ]:
print(food_stuff_lt[3])

Apple

5. Slice out the first three items and the last three items from food_staff_lt list

In [ ]:
print(food_stuff_lt[0:3])
print(food_stuff_lt[4:])

('mango', 'orange', 'Kankana')
('Letus', 'Meats', 'feather')

6. Delete the food_staff_tp tuple completely

In [ ]:
del food_stuff_tp

7. Check if an item exists in tuple

In [ ]:
print('mango' in food_stuff_lt)

True

8. Check if 'Estonia' is a nordic country

In [ ]:
print('Estonia' in countries)

True

9. Check if 'Iceland' is a nordic country

In [ ]:
print('Iceland' in countries)

True

SET LEVEL 1 EXERCISE
1. Find the length of the set it_companies

In [122]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print(len(it_companies))

7

2. Add 'Twitter' to it_companies

In [123]:
it_companies.add('Twitter')

3. nsert multiple IT companies at once to the set it_companies

In [129]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
ulna=('Galaxy', 'Noka', 'Starlink')
it_companies.update(ulna)
print(it_companies)

{'Google', 'Microsoft', 'Amazon', 'IBM', 'Apple', 'Noka', 'Galaxy', 'Facebook', 'Oracle', 'Starlink'}

4. Remove one of the companies from the set it_companies

In [130]:
it_companies.remove('Noka')

5.What is the difference between remove and discard

In [134]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.remove('Amazon')
print(it_companies)
it_companies.discard('Facebook')
print(it_companies)

{'Google', 'Facebook', 'Microsoft', 'Apple', 'IBM', 'Oracle'}
{'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle'}

LEVEL 2 EXERCISE: SET
Join A and B
Find A intersection B
Is A subset of B
Are A and B disjoint sets
Join A with B and B with A
What is the symmetric difference between A and B
Delete the sets completely

In [ ]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
#Joining Set
C=(A).union(B)
print(C)
#Finding Intersection
print((A).intersection(B))
#Checking is a Subset
print((A).issubset(B))
#Checking is a disjoint
print((A).isdisjoint(B))
#outputing Union A and B
print((B).union(A) and (A). union(B))
#diffeence between them ss
print((A).difference(B))
del (C)

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
set()

LEVEL 2 EXERCISE : SET
1. Convert the ages to a set and compare the length of the list and the set, which one is bigger?

In [143]:
A = {19, 22, 24, 20, 25, 26}
age = [22, 19, 24, 25,26,24,25,24]
print(len(A)==len(age))
print(len(A))
print(len(age))

False
6
8

2. Explain the difference between the following data types: string, list, tuple and set

I)String: a data type for sequence of character
II)list: is a data structure for storing different data types and is mutable , it uses []. it allows repetition. it is inedexed. 
III)tupe: this is a immutable data structure that can contain different data types, it uses (). it also allows repetition, since it is indexed .
IV)set: is a mutable data structure that is unindex and that does not allows repetition

3.I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

In [159]:
sentence='I am a teacher and I love to inspire and teach people'
split_sentence= sentence.split()
print(split_sentence)
unique=[item for item in split_sentence if split_sentence.count(item) ==1]
print(unique)

['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people']
['am', 'a', 'teacher', 'love', 'to', 'inspire', 'teach', 'people']