MODULE 6 EXERCISE
1.Create an empty dictionary called dog Add name, color, breed, legs, age to the dog dictionary

In [ ]:
dog = {
    'name': 'Boo Boo',
    'color': 'Blue-Black',
    'Breed': 'Police Dog',
    'Legs': 'V-leg',
    'age': '8 Years'
}

2.Create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary

In [40]:
student = {
    'first_name': 'Muhammad',
    ' last_name': 'Ahmad',
    'Gender':'Yet to Decide',
    'age':'23',
    'Marital_Status': 'Married',
    'skills':['Tech Expert','Project Manager'],
    'Country': 'Jupyter',
    'city':'Azare',
    'Address': 'Off Al-jannah Road , Heaven'
}

3. Get the length of the student dictionary

In [9]:

print(len(student))

9

4. Get the value of skills and check the data type, it should be a list

In [15]:
dct=(student['skills'])
print(type(dct))

<class 'list'>

5. Modify the skills values by adding one or two skills

In [19]:
student['skills'].append('Java')
student['skills'].append('Python')
print(student)

{'first_name': 'Muhammad', ' last_name': 'Ahmad', 'Gender': 'Yet to Decide', 'age': '23', 'Marital_Status': 'Married', 'skills': ['Tech Expert', 'Project Manager', 'Java', 'Java', 'Python', 'Java', 'Python'], 'Country': 'Jupyter', 'city': 'Azare', 'Address': 'Off Al-jannah Road , Heaven'}

6. Get the dictionary keys as a list

In [25]:
print(student["first_name"])

Muhammad

6. Get the dictionary keys as a list

In [28]:
keys_list=list(student.keys())
print(keys_list)

['first_name', ' last_name', 'Gender', 'age', 'Marital_Status', 'skills', 'Country', 'city', 'Address']

7. Get the dictionary values as a list

8. Change the dictionary to a list of tuples using items() method

In [29]:
values_list=list(student.items())
print(values_list)

[('first_name', 'Muhammad'), (' last_name', 'Ahmad'), ('Gender', 'Yet to Decide'), ('age', '23'), ('Marital_Status', 'Married'), ('skills', ['Tech Expert', 'Project Manager', 'Java', 'Java', 'Python', 'Java', 'Python']), ('Country', 'Jupyter'), ('city', 'Azare'), ('Address', 'Off Al-jannah Road , Heaven')]

8. Delete one of the items in the dictionary

In [41]:
del student['Country']
print(student)

{'first_name': 'Muhammad', ' last_name': 'Ahmad', 'Gender': 'Yet to Decide', 'age': '23', 'Marital_Status': 'Married', 'skills': ['Tech Expert', 'Project Manager'], 'city': 'Azare', 'Address': 'Off Al-jannah Road , Heaven'}

9.Delete one of theÂ dictionaries

In [38]:
del dog